@import 'fonts';

:root {
  /* Font parameters */
  --font-size-base: 62.5%;
  --font-weight-base: 400;
  --line-height-base: 1.1;

  /* Fonts */
  --ff-sans-serif-1: 'Bebas Neue', sans-serif;
  --ff-sans-serif-2: 'Helvetica Neue', sans-serif;

  /* Animations duration */
  --t-duration: 0.4s;

  /* Shell width and gutters */
  --shell-max-width: 1140px;
  --shell-gutter: 30px;

  /* Colors */
  --c-black: #000;
  --c-white: #fff;
  --c-green: #1fb863;
  --c-blue: #2b1272;
  --c-red-1: #e50914;
  --c-red-2: #b00710;
  --c-gray-1: #303030;

  /* Shadow */
  --shadow-primary: 0px 0px 12px rgba(28, 43, 51, 0.4);

  /* Spacings */
  --spacing-0: 0;
  --spacing-1: 20px 0;
  --spacing-2: 10px;
  --spacing-3: 40px 30px;
  --spacing-4: 20px 30px;

  --spacing-button: 10px 20px;
}
